@import url('https://fonts.googleapis.com/css?family=Questrial');
@import "palette.scss";

$bounding-width: 650px;
$svg-width: 65%;
$mobile-svg-height: 350px;

@mixin resize ($mobile-height, $mobile-width, $desktop-height, $desktop-width) {
	@media (max-width: $bounding-width){
		height: $mobile-height;
		width: $mobile-width;
	}
	@media (min-width: $bounding-width + 1) {
		height: $desktop-height;
		width: $desktop-width;
	}
}

html, body, #app {
	height: 100%;
}

body {
	font-family: 'Questrial', sans-serif;
	background-color: $white;
	margin: 0;
	padding: 0;

	p {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

.svg-wrapper {
	@include resize($mobile-svg-height, 100%, 100%, $svg-width);
	background-color: $white;
	position: absolute;

	.base-svg {
		@include resize($mobile-svg-height, 100%, 100%, 100%);
	}
}

.fixed {
	position: fixed;
	top: 0;
}

.content-wrapper {
	@include resize(100%, 100%, 100%, 100% - $svg-width);

	@media (min-width: $bounding-width + 1) {
		float: right;
	}

	@media (max-width: $bounding-width) {
		margin-top: 450px;
	}

	.fade {
		content:'';
		height: 60px;
		width: 100%;
		background: linear-gradient(to bottom, $white, rgba(251, 251, 251, 0) 100%);

		@media(max-width: $bounding-width){
			&.fixed {
				top: $mobile-svg-height;
			}
		}
	}
}

.card {
	@include resize(400px, 100%, 75vh, 100%);
	display: flex;

	.card-content {
		margin: auto;
		padding: 40px;
		text-align: center;


	}
}

svg {
	text {
		font-size: 2rem;
	}
	.tick text {
		font-size: 1rem;
	}
}

@import "./TitleCard.scss";
