.title {
	margin: auto;
	margin-top: 40%;
	color: $white;
	text-align: center;
	transition: margin-top 1s ease-in;

	h1 {
		margin: 0;
		font-size: 1.75rem;
		transition: font-size 1s ease-in;
	}

	.title-description {
		margin: 20% auto 0 auto;
		width: 40%;
		opacity: 0;
		transition: opacity 1s ease-in;

		h3 {
			font-weight: normal;
		}
	}

	&:not(.step-two) {
		@media (min-width: $bounding-width + 1){
			h1 {
				font-size: 4.5rem;
			}
		}

	}
	&.step-two {
		margin-top: 50px;
		.title-description {
			opacity: 1;
		}
	}

	@media (max-width: $bounding-width){
		margin-top: 70%;

		.title-description {
			margin-top: 140px;
			width: 90%;

			h3 {
				font-size: 1rem;
			}
		}
	}
}
